version: "3.8"
services:
  loki:
    image: grafana/loki:2.9.1
    command: -config.file=/etc/loki/local-config.yaml
    volumes:
      - ./loki/loki-config.yml:/etc/loki/local-config.yaml:ro
    ports:
      - "3100:3100"

  promtail:
    image: grafana/promtail:2.9.1
    volumes:
      - ./promtail/promtail-config.yml:/etc/promtail/config.yml:ro
      - ./app/log:/var/log/app
    command: -config.file=/etc/promtail/config.yml
    depends_on:
      - loki

  app:
    build: ./app
    volumes:
      - ./app/log:/var/log/app
    depends_on:
      - promtail

  detector:
    build: ./detector
    environment:
      - LOKI_URL=http://loki:3100
      - SLACK_WEBHOOK
      - GITHUB_TOKEN
      - GITHUB_REPO
      - LOG_QUERY_RANGE_MINUTES=10
      - WINDOW_SIZE=50
      - WINDOW_STEP=25
      - CONTAMINATION=0.05
    depends_on:
      - loki
      - app

